# Variables de entorno para Docker

# Seguridad
JWT_SECRET=cambiar_por_un_secreto_seguro_aleatorio

# Configuración del Dominio (para producción)
DOMAIN=tu-dominio.com

# Correo electrónico para Let's Encrypt (para producción)
EMAIL=tu-email@ejemplo.com