.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .theme-switch-icon {
    margin-right: 8px;
    font-size: 18px;
  }
  
  .theme-switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
  }
  
  .theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  .slider.round {
    border-radius: 26px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: var(--secondary-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Animación */
  .slider:before {
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }